.grid-list {
  display: grid;
  grid-template-columns: 164px 164px;
  gap: 9px;
}

.list-item {
  width: 164px;
  height: 164px;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  border: 1px solid #3a3d31;
}

.list-item > .list-item-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list-item .file-name {
  padding: 10px;
}

.list-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.actions {
  padding: 0px 10px;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions ion-icon {
  margin-left: 10px;
}

.row-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.stored-list-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  gap: 2px;
}

.stored-list-item img {
  margin: 6px 6px 1px 6px;
}

.stored-list-item > div {
  background-color: #33383d;
}

.delete-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-info {
  display: flex;
}

.content-info > .text-content {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.all-list {
  box-sizing: border-box;
  border-bottom: #4370ff solid;
}
.sorted-list {
  box-sizing: border-box;
  border-bottom: #4370ff solid;
}
.sorted-info {
  display: flex;
  justify-content: space-between;
}
.sorted-alarm {
  color: #4370ff;
}
