.container {
  background-color: #393c3f;
  height: 52.6vh;
  padding-top: 15vh;
}

.container > p {
  margin: 5px 20px 5px;
  font-size: 25px;
  line-height: 26px;
  color: white;
}

.slide-container > h2 {
  margin-top: 60px;
  margin-left: 20px;
  font-size: 23px;
}

.content {
  height: 150px;
  margin: 10px;
  background-color: #35383c;
}
.content-text-box {
  height: 150px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-text-box > div {
  padding: 4px;
}

.grid > .content {
  width: 104px;
  margin: 15px;
  background-color: gray;
  margin: 10px auto;
}

.overflow {
  -ms-overflow-style: none;
  overflow-x: scroll;
}

.slide {
  width: fit-content;
  display: flex;
}

.overflow::-webkit-scrollbar {
  display: none !important;
}

.custom-tab {
  background-color: inherit;
}

.main-img0 {
  background: url("../../assets/main.png") no-repeat;
}
.main-img1 {
  background: url("../../assets/main_1.png") no-repeat;
}
.main-img2 {
  background: url("../../assets/main_2.png") no-repeat;
}

.main {
  background-size: 100vw 56vh;
}
