.record-replay {
  text-align: right;
  color: #4370ff;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #4370ff;
}
.no-record-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-record-text > span {
  margin: 10px;
}
.record-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.latest-record {
  margin-top: 10px;
  margin-bottom: 20px;
}
