.record-replay {
  text-align: right;
  color: #4370FF;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #4370FF;
}
.record{
  /*border: red solid;*/
  /*height: 20%;*/
}
.title {
  /*border: red solid;*/
}
.no-record-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-record-text > span {
  /*border: red solid;*/
  margin: 10px;
}
.record-flex-row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.latest-record {
  /*border: red solid;*/
  margin-top: 10px;
  margin-bottom: 20px;
}
.record-title-container{
  /*border: red solid;*/
}
.flex{
  /*border: green solid;*/
}