.custom-tab-segment {
  margin-top: 40px;
  height: 83px;
}

.rhap_container {
  background-color: inherit !important;
  outline: none;
}

.rhap_container:focus {
  outline: none;
}

.rhap_time {
  color: white !important;
}
