.survey-page-wrapper {
  overflow: scroll;
}
.survey-page-wrapper::-webkit-scrollbar {
  display: none;
}

.survey-wrapper {
  margin-top: 10vh;
}

.survey-question {
  white-space: pre-wrap !important;
}
.alert-message.sc-ion-alert-ios, .alert-input-group.sc-ion-alert-ios{
  color: white;
}