@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  --ion-background-color: #2a2d30 !important;
  font-family: "NanumSquare" !important;
}

.slide-container,
ion-card,
ion-label,
.survey-page-wrapper ion-icon,
.survey-question,
.list-wrapper ion-icon,
.text-content,
.rhap_header,
.custom-icon,
div,
h2,
.alert-title.sc-ion-alert-ios,
#alert-1-msg,
.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  color: white;
}

ion-tab-bar {
  height: 83px;
  --ion-background-color: #383c41;
  box-shadow: 0px -5px 25px rgba(25, 25, 25, 0.25);
}

.grid {
  margin: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
}

.alert-wrapper {
  background-color: #1a1a1a !important;
}

.react_times_button {
  background-color: #2a2d30;
}

.preview_container {
  color: white;
}

.outside_container.active .modal_container {
  z-index: 200;
}

.modal_container {
  width: 300px;
  margin-left: 6%;
}
