@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
  --ion-background-color: #2a2d30 !important;
  font-family: "NanumSquare" !important;
}

.slide-container,
ion-card,
ion-label,
.survey-page-wrapper ion-icon,
.survey-question,
.list-wrapper ion-icon,
.text-content,
.rhap_header,
.custom-icon {
  color: white !important;
}

ion-tab-bar {
  height: 83px;
  --ion-background-color: #383c41;
  box-shadow: 0px -5px 25px rgba(25, 25, 25, 0.25);
}

.grid {
  margin: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto;
}
