.recording-sleep-time {
    /*height: 20vh;*/
    /*border: red solid;*/
    padding-top: 10vh;
    padding-bottom: 4vh;
    border: red solid;
}

.recording-sleep-time > p {
    margin: 5px 20px 5px;
    font-size: 25px;
    line-height: 26px;
    color: white;
}
.recording-sleep-score {
    border: red solid;
    box-sizing: border-box;
    margin: 5px 20px 5px;
}
.recording-sleep-score-bar {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    /*border: red solid;*/
}
.recording-sleep-score-bar > p {
    font-size: 18px;
    text-align: center;
    padding-left: 10px;
}